* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    padding-top: 2%;
}

.back {
    position: relative;
    max-width: 800px;
    height: 86vh;
    margin: 0 auto;
    background: url("../img/layer-2.png") no-repeat;
    overflow: hidden;
}

.back img {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.6;
}

.back .payment {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 35px;
    max-width: 336px;
    max-height: 532px;
    margin: 0 auto;
    background-color: #fff;
}

.payment-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 35px;
    background-color: #f8edaf;
}

.payment-top-left h3 {
    margin: 0;
    color: #6e7f7b;
    font-size: 14px;
    font-weight: 700;
}

.payment-top-left p {
    margin: 0;
    color: #a6a28d;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.payment-top-right p {
    margin: 0;
    color: #637570;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -1.8px;
    line-height: 36px;
}

.payment-main {
    position: relative;
    margin-left: 24px;
    margin-right: 24px;
}

.payment-main form label {
    display: inline-block;
    width: 100%;
    color: #9eabad;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 9px;
}

.payment-main form input {
    width: 100%;
    padding-left: 9px;
    margin-bottom: 28px;
    height: 44px;
    border: 2px solid #bac8cb;
    background-color: #fff;
    color: #727f82;
    font-size: 13px;
    font-weight: 700;
}

.payment-main form select {
    height: 44px;
    padding-left: 9px;
    margin-bottom: 20px;
    border: 2px solid #bac8cb;
    background-color: #fff;
    color: #727f82;
    font-size: 13px;
    font-weight: 700;
}

.payment-main form #date {
    float: left;
    width: 61%;
}

.payment-main form #year {
    float: right;
    width: 33%;
}

.payment-main form #cvv {
    float: left;
    width: 33%;
}

.payment-main form p {
    margin: 15px 0 0;
    float: right;
    color: #9eabad;
    font-size: 12px;
    font-weight: 400;
}

a {
    color: #9eabad;
    font-size: 12px;
    font-weight: 400;
}

.payment-main img {
    position: absolute;
    top: 295px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 288px;
    height: 1px;
    background-color: #edf0f1;
}

.payment-main button {
    margin-bottom: 22px;
    margin-top: 30px;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #25b86a;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.payment-main .cancel {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

input:hover,
select:hover {
    border: 2px solid #82d4e7;
}